@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "utilities/variables";
@import "utilities/universal";

$frutigerRoman: 'FrutigerLTW01-55Roman';
$frutigerLight: 'Frutiger LT W04_45 Light';

* {
    margin: 0;
}

html, body {
    font-family: $frutigerRoman;
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;

    @include media($mobile) {
        overflow-x: hidden;
    }

}

.vertical_center_parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
}
.global_pad {
    @include pad(1.5em $desk);
    @include media($tablet) {
        @include pad(2em $tab);
    }
    @include media($mobile) {
        @include pad(2em $mob);
    }
}
.sidepad {
    @include pad(0 $desk);
    @include media($tablet) {
        @include pad(0 $tab);
    }
    @include media($mobile) {
        @include pad(0 $mob);
    }
}
.inner_header {
    @extend .sidepad;
    h1 {
        a {
            @include media($tablet) {
                @include span-columns(10);
            }
        }
    }
    a:hover {
        color: #2775F6;
    }
}


/*----------------- HOME PAGE -----------*/


div.slide-section {
	background: url(../images/highered.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	div.container {
		@include span-columns(12);
		h1 {
			@include outer-container;
			@include span-columns(12);
			font-size: 3em;
			font-family: $frutigerRoman;
			color: #fff;
			text-align: center;
			margin: 30% 0 0 0;
		}
		h2 {
			@include span-columns(12);
			font-size: 1.5em;
			font-family: $frutigerLight;
			color: #fff;
			text-align: center;
			margin: 30px 0 0 0;
		}
	}
}


/* header.headroom, header.headroom--unpinned, header.headroom--pinned {*/
header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: top 0.2s ease-in-out;
    div.menu {
        @include outer-container;
        height: 80px;
    	}
    div#nav {
    	div.logo {
    		@include span-columns(3);
    		margin: 28px 0 0 30px;
    		width: 150px;
    		display: inline-block;

    	}
        ul.navigation {
        	@include span-columns(5);
            margin: 10px 30px 0 30px;
            display: inline-block;
            @include shift(4);
            @include media($tablet) {
                @include span-columns(6);
                display: none;
                    
            }
            @include media($mobile) {
                @include span-columns(3);
                display: none;
                
            }
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        	li {
	            font-family: $frutigerLight;
	            font-size: 1em;
	            margin: 20px 0 5px 0;
	            display: inline-block;
	            @include media($tablet) {
	                @include span-columns(12);
	                 display: inline-block;

	            }
	            @include media($mobile) {
	                @include span-columns(3);
	                display: block;
	            }
	            a {
	                width: 50px;
	                color: #b2b2b2;
	                text-decoration: none;
	                padding-bottom: 5px;

	            }
	            a:visited {
	                 
	            }
	            a:hover {
	                color: $red;	

	            }

	            a.currentpage:active {
	                
	            }
	        }
        }
    }  
}




div.about {
	@include outer-container;
    @extend .sidepad;
	width: 100%;
	height: auto;
	padding-bottom: 100px;
	overflow: hidden;
	background-color: #fff;

	div.container-about {
		section.about, section.profile, section.market, section.services, section.contact {
		padding-bottom: 100px;
		height: auto;
		h2 {
			font-family: 1em;
		}
		article.about-info {
			@include span-columns(12);
            @include media($mobile) {
                @include span-columns(3);
            }/*------------------- help ------*/
	        p.left{
	        	@include span-columns(6);
	            color: #444;
	            padding-bottom: 30px;
	            text-align: left;
	            vertical-align: top;
	            font-family: $frutigerLight;
		        }

	            @include media($tablet) {
	                text-align: left;
	            }
	        }
	        p.right {
	        	@include span-columns(6);
	        	color: #444;
	            padding-bottom: 30px;
	            text-align: left;
	            vertical-align: top;
	            font-family: $frutigerLight;
	        }
		}
	}
}


section.services {
    article {

        h2 {
            font-size: 2rem;
            font-family: $frutigerLight;
            font-weight: normal;
            display: block;
            text-align: left;
        }
        p {
            @include pad(0 0 1em 0);
        }
    }
}


/*------------------------------------*/


section {
    h1, h2, h3 {
        font-family: $frutigerLight;
        letter-spacing: .02em;
        color: $red;
        font-size: 2em;
        @include pad(2em 0);
        text-align: left;
        font-weight: normal;
    }
    article {
        dl {
        	@include span-columns(3);
                @include media($tablet) {
                @include span-columns(3);
                padding-bottom: 30px;
                @include media($mobile) {
                    @include span-columns(3);
                }
            }
            dt {
                margin-bottom: 10px;
                font-family: $frutigerLight;
                font-size: 1.5rem;
                
            }
            dd {
                font-family: $frutigerLight;
                border-top: 1px solid #bbb;
                @include pad(.25em 0);
                &:last-child {
                    border-bottom: 1px solid #bbb;
                }
            }
        }
    }
}

div.case-studies {
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: #fff;
    border-top:4px solid $red;
    div.container-projects {
        @include outer-container;
        padding: 100px 0 0 0;
        @include outer-container;

    }

}

div.who {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-top:4px solid $red;
	height: 900px;
    @include media($tablet) {
        height: auto;
    }
    @include media($mobile) {

    }
	div.container-who {
		@include outer-container;

		padding: 200px 0 100px 0;
        @include media($mobile) {
            padding: 0 0 50px 0;
        }
        div.left {
            @include span-columns(6);
            @extend .global_pad;
            section.headshot {
            @include span-columns(3);
            background-color: #eee;
            /*background: url(../images/headshot.jpeg) 0px 0px;*/
            background-size: 400px;
            width: 400px;
            height: 400px;
            border-radius: 200px;
            margin: 0 auto;
                @include media($tablet) {
                    
                    width: 300px;
                    height: 300px;
                    border-radius: 150px;
                    margin: 0 auto;
                }
                @include media($mobile) {

                    display: block;
                    width: 250px;
                    height: 250px;
                    border-radius: 125px;
                    margin: 0 auto;
                }
            }
        }
        div.right {
            @include span-columns(6);

            @extend .global_pad;
            section.bio {
                h3.bio {
                    display: block;
                    text-align: left;
                    padding: 0px 0px 30px 0px;
                    font-size: 2em;
                    
                }
                h3.profile-title {
                    display: block;
                    padding: 0px 0px 30px 0px;
                    text-align: left;
                    
                }
                div.bio-text {
                    display: block;
                    text-align: left;
                    font-family: $frutigerLight; 
                }
            }
            @include media($mobile) {
                @include span-columns(3);
            }
		}
	}
}

div.slide-section-case1 {
    background: url(../images/corporate.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: #fff;
    
    h1{
        font-size: 20pt;
        padding-bottom:10px; 
        }
    div {
        @include outer-container;
        div.container-case1 {
           
            @include span-columns(12);
            padding: 200px 30px 0 30px;
            z-index: 99;
            
            div.left {
                @include span-columns(6);
                h1 {
                    font-size: 2em;
                    padding: 0 0 30px 0;
                }
                @include media($tablet) {
                    @include span-columns(5);
                }
                @include media($mobile) {
                    @include span-columns(3);
                    font-size: 1em;
                    padding: 0 0 30px 0;
                }
            }
            div.right {
                @include span-columns(6);
                padding: 65px 0 0 0;
                @include media($tablet) {
                    @include span-columns(5);
                }
                @include media($mobile) {
                    @include span-columns(5);
                }
            div.details {
                padding: 0 0 30px 30px;
            }
                div.top {
                    
                    @include span-columns(12);
                    div.sector {
                        @include span-columns(6);
                        

                    }
                    div.location {
                        @include span-columns(6);
                    }
                }
                div.middle {
                    @include span-columns(12);
                    div.size {
                        @include span-columns(6);
                    }
                    div.sociis {
                        @include span-columns(6);
                    }
                }
                div.bottom {
                    @include span-columns(12);
                    div.services {
                        @include span-columns(10);
                    }
                }
            }
        }
    }
}

div.slide-section-case2 {
    background: url(../images/transportation.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: #fff;
    h1{
        font-size: 20pt;
        padding-bottom:10px; 
        }
    div {
        @include outer-container;
        div.container-case2 {
           
            @include span-columns(12);
            padding: 200px 30px 0 30px;
            z-index: 99;
            
            div.left {
                @include span-columns(6);
                @include media($tablet) {
                    @include span-columns(5);
                }
                @include media($mobile) {
                    @include span-columns(3);
                }
                h1 {
                    font-size: 2em;
                    padding: 0 0 30px 0;
                }
            }
            div.right {
                @include span-columns(6);
                @include media($tablet) {
                    @include span-columns(5);
                }
                @include media($mobile) {
                    @include span-columns(5);
                }
                padding: 65px 0 0 0;
            div.details {
                padding: 0 0 30px 30px;
            }
                div.top {
                    
                    @include span-columns(12);
                    div.sector {
                        @include span-columns(6);
                        

                    }
                    div.location {
                        @include span-columns(6);
                    }
                }
                div.middle {
                    @include span-columns(12);
                    div.size {
                        @include span-columns(6);
                    }
                    div.sociis {
                        @include span-columns(6);
                    }
                }
                div.bottom {
                    @include span-columns(12);
                    div.services {
                        @include span-columns(10);
                    }
                }
            }
        }
    }
}

div.contact { 
    width: 100%;
    height: 500px;
    background-color: #eee;
    border-top:4px solid $red;
    div.container-contact {
        @include outer-container;
        padding: 100px 30px 0 30px;
        
        div.office1 {
            @include span-columns(12);
            ul.contact-block {
                @include span-columns(6);
                li {
                    font-family: $frutigerLight; 
                    line-height: 30px;
                    color: #b2b2b2;
                }
            }
        }
    }
}


footer {
    position: relative;
    margin-bottom: $nav_height;
}
