$frutigerRoman: 'FrutigerLTW01-55Roman';
$frutigerLight: 'Frutiger LT W04_45 Light';

$red: #AB162B;

$nav_height: 80px;

$desk: 40px;
$tab:  40px;
$mob:  30px;

$large-text:  36/16*1rem;
$medium-text: 20/16*1rem;
$small-text:  16/16*1rem;

$large-text-tablet:  36/16*1rem;
$medium-text-tablet: 18/16*1rem;
$small-text-tablet:  16/16*1rem;

$large-text-mobile:  34/16*1rem;
$medium-text-mobile: 16/16*1rem;
$small-text-mobile:  15/16*1rem;

$small:  "small";
$medium: "medium";
$large:  "large";

/*font-family:'FrutigerLTW01-45Light';
font-family:'FrutigerLTW01-46LightIt';
font-family:'FrutigerLTW01-55Roman';
font-family:'FrutigerLTW01-56Italic';
font-family:'Frutiger LT W01_65 Bold';
font-family:'FrutigerLTW01-66BoldIta';
font-family:'FrutigerLTW01-75Black';
font-family:'FrutigerLTW01-76BlackIt';
font-family:'FrutigerLTW01-95UltraBl';
font-family:'FrutigerLTW01-47LightCn';
font-family:'FrutigerLTW01-48LightCn';
font-family:'FrutigerLTW01-67BoldCn';
font-family:'FrutigerLTW01-68BoldCnI';
font-family:'FrutigerLTW01-87ExtraBk';
font-family:'FrutigerLTW01-88XBkCnIt';
font-family:'Frutiger LT W04_45 Light';
font-family:'Frutiger LT W04_46 Ligh1459266';
font-family:'Frutiger LT W04_55 Roman';
font-family:'Frutiger LT W04_56 Italic';
font-family:'Frutiger LT W04_65 Bold';
font-family:'Frutiger LT W04_66 Bold Italic';
font-family:'Frutiger LT W04_75 Black';
font-family:'Frutiger LT W04_76 Blac1459278';
font-family:'Frutiger LT W04_95 Ultra Black';
font-family:'Frutiger LT W04_47 Light Cond';
font-family:'Frutiger LT W04_67 Bold Cond';
font-family:'Frutiger LT W04_77 Black Cond';
font-family:'Frutiger LT W04_87 X Bl1459298';*/



